# eclipse
.classpath
.project
.cache
.settings/
.worksheet
barcode-search/.classpath
barcode-search/.project
barcode-search/.cache
barcode-search/.settings/
barcode-search/.worksheet
barcode-search/target/

*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
